<%- include('header'); -%>

<main>
	<div class="container-anime">
		<div><h1>Anime</h1></div>
		<div>
			<h1><%= anime.name %></h1>
			<img src="<%= anime.image %>" alt="<%= anime.name %>" />
			<p><%= anime.description %></p>

			<div>
				<form method="POST" action="/delete">
					<div>
						<input type="hidden" value="<%= anime.id %>" name="animeId" />
						<button>Delete</button>
					</div>
				</form>
			</div>
			<div>
				<a href="/edit-anime/<%= anime.id %>?edit=true">Edit</a>
			</div>
		</div>
	</div>
</main>
<%- include('footer'); -%>
