<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Anime</title>
	</head>
	<body>
		<h1>Anime</h1>

		<main>
			<h1><%= anime.name %></h1>
			<img src="<%= anime.image %>" alt="<%= anime.name %>" />
			<p><%= anime.description %></p>

			<div>
				<form method="POST" action="/delete">
					<div>
						<input type="hidden" value="<%= anime.id %>" name="animeId" />
						<button>Delete</button>
					</div>
				</form>
			</div>
			<div>
				<a href="/edit-anime/<%= anime.id %>?edit=true">Edit</a>
			</div>
		</main>
	</body>
</html>
