<%- include('header'); -%>

<main>
	<div class="container-anime">
		<div><h1>Anime</h1></div>
		<div class="anime-content">
			<div><img src="<%= anime.image %>" alt="<%= anime.name %>" /></div>
			<div>
				<h2><%= anime.name %></h2>

				<p class="anime-description"><%= anime.description %></p>
			</div>
		</div>
		<div class="anime-edit-delete">
			<div>
				<form method="POST" action="/delete">
					<div>
						<input type="hidden" value="<%= anime.id %>" name="animeId" />
						<button>Delete</button>
					</div>
				</form>
			</div>
			<div>
				<a href="/edit-anime/<%= anime.id %>?edit=true">Edit</a>
			</div>
		</div>
	</div>
</main>
<%- include('footer'); -%>
